@import url("https://fonts.google.com/specimen/Redressed?query=redresse");
@import url("https://fonts.google.com/specimen/Merriweather?query=merriweather");

.redressed{
    font-family: 'Redressed', cursive;
}
.merriweather{
    font-family: "Merriweather", serif;
}
.cc-navbar{
    background-color: rgba(0, 0, 0, 0.55);
    font-family: "Merriweather", serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
    z-index: 99;
}
.cc-navbar .nav-link{
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}
.cc-navbar .nav-link:hover{
    padding-bottom: 20px;
    border-bottom-color: var(--bs-teal);
}
.cc-fixe{
    height: 112px;
    overflow: hidden;
}
.barner, .order-form{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/bannière1.jpg'), center center fixed
    no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Optionnel, pour ajuster la taille de l'image */
    background-position: center center; /* Centrage horizontal et vertical */
    height: 800px;
}
.order-form{
    height: 650px;
}
.barner .barner-desc{
    color: white;
    font-weight: 400px;
    font-size: 48px;
}
.cc-menu{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/bannière1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Optionnel, pour ajuster la taille de l'image */
    background-position: center center; /* Centrage horizontal et vertical */
    min-height: 1200px;
}
.card-img-top {
  width: 100%;
  height: 250px; 
  object-fit: cover;
}

  
.btn-order{
    color: var(--bs-teal);
    border-color: var(--bs-teal);
    transition: 0.5s;
}
.btn-order:hover,
btn-order:active{
    color: #fff; 
    background-color: var(--bs-teal);
}